<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Disable Buggy Roslyn Analyzers" Description="This ruleset disables problematic analyzers that prevent compilation." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="None" />
  </Rules>
</RuleSet>
